# Ignorar la carpeta _site/pages
_site/pages/

# Ignorar el archivo _data/test.json
_data/test.json

# Ignorar la carpeta _site/css/principal.css
_site/css/principal.css

# Ignorar el archivo de .jekyll-metadata
.jekyll-metadata